{% for prod in products %}
  {% if not loop.last %}
  <div class="col s12 m6 l4">
  {% elif loop.last %}
  <div class="col s12 m6 l4" ic-append-from="/infiniscroll?page={{ page + 1 }}" ic-trigger-on="scrolled-into-view" ic-indicator="#indicator" ic-target="#prod_row">
  {% endif %}
    <div class="card hoverable" style="height: 500px;">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" src="{{ prod['img_url'] }}" style="max-height: 400px; width: auto; object-fit: cover; display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ prod['cat_1'] }} - {{ prod['cat_2'] }}<i class="material-icons right">shopping_cart</i></span>
        <p><a href="#">View Similar Products</a></p>
      </div>
      <div class="card-reveal grey lighten-3">
        <span style="position: relative;" class="card-title grey-text text-darken-4">Recommendations<i class="material-icons right">close</i></span>
        <div>
          {% for sim_prod in prod['recs'] %}
            <img class="white activator responsive-img z-depth-1 hoverable" src="{{ sim_prod['img_url'] }}" style="max-height: 300px; width: 90%; object-fit: contain; display: block; margin-left: auto; margin-right: auto; margin-top: 40px; margin-bottom: 40px">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
